<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="DroidCast_raw"
        tools:targetApi="34"
        tools:ignore="MissingApplicationIcon" />
</manifest>